.layout {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
}
.layout-item {
  background: tomato;
  color: white;
  padding: 5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.layout .layout-item:first-child {
  background: green;
}
.layout .layout-item:nth-child(3) {
  background: violet;
  grid-column: 1 / 3;
}
.layout .layout-item:nth-child(4) {
  grid-column: 3 / 5;
  grid-row: 1 / 3;
}
.layout .layout-item:nth-child(5) {
  grid-column: -1 / -3;
  grid-row: 1 / 2;
}
.layout .layout-item:last-child {
  background: green;
}
@media screen and (max-width: 520px) {
  .layout{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .layout .layout-item{
    grid-column: auto !important;
    grid-row: auto !important;
  }
}